<table class="table-sea table table-bordered">
  <tbody>
    <tr class="row-{{ $index }}" ng-repeat="row in ctrl.setupTable track by $index">
         <td ng-mouseleave="ctrl.resetCellClass($parent.$index, $index)" ng-mouseenter="ctrl.checkSetupShip($parent.$index, $index)" class="{{cell.class}}" ng-repeat="cell in row track by $index">
         </td>
     </tr>
  </tbody>
</table>

<fieldset>
    <legend>Position</legend>
    <div class="radio">
        <label>
            <input ng-model="ctrl.verticalOrientation" type="radio" id="horizontalRadios" value="false">
            Horizontal
        </label>
        <label>
            <input ng-model="ctrl.verticalOrientation" type="radio" id="verticalRadios" value="true">
            Vertical
        </label>
    </div>
</fieldset>
