<h2>Configure your table</h2>
<div class="row" id="setupView">
    <div class="col-sm-7">
        <setup-table-directive width="10" height="10"></setup-table-directive>
    </div>
    <div class="col-sm-5">
        <fieldset>
            <legend>Ships</legend>

            <div class="radio" ng-repeat="ship in vmS.ships track by $index">
                <label>
                    <input ng-click="vmS.selectShip(ship)" type="radio" name="optionsRadios" id="optionsShip{{$index}}" value="{{$index}}">
                     {{ ship.length }} cell ship
                </label>
            </div>
        </fieldset>
    </div>
</div>
